<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web.far</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="shortcut icon" href="logo.png" type="image/png">
</head>
<body>
    <div id="loading">
        <div class="middle">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
            <div class="bar bar4"></div>
            <div class="bar bar5"></div>
            <div class="bar bar6"></div>
            <div class="bar bar7"></div>
            <div class="bar bar8"></div>
            <p class="animate__animated animate__backInUp">Loading...</p>
        </div>
    </div>
    <section class="MAIN">
        <nav class="navbar sticky-top navbar-expand-lg">
            <div class="container-fluid">
                <p class="navbar-brand" href="#"><img src="logo.png">web.far</p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                  <span class="navbar-toggler-icon"><img src="list.png" alt="">
                  </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#main">Main</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">My Projects</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#stradegy">Stradegy</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#contacts">Contact Me</a>
                      </li>
                </div>
              </div>
        </nav>
        <section class="intro" id="main">
            <div class="row">
                <div class="col-lg-6">
                    <h1>I create web pages that make an impact.</h1>
                    <p class="intro_p">Hi! I’m Farxod, a full-stack programmer based in Asia. I create user-friendly web-pages for fast-growing startups.</p>
                    <a href="mailto:rav.farxod@gmail.com" class="hire_me" role="button">Hire Me! <i class="fa-regular fa-envelope fa-lg"></i></a>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-2">
                            <img class="award" src="award.png" alt="">
                        </div>
                        <div class="col-10">
                            <h2>Junior Web Developer</h2>
                            <p>In Legal World Inc. • <a href="https://legalworld.uz/" target="_blank">legalworld.uz </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 image">
                    <img class="intro_img" src="intro_img.png" alt="">
                </div>
            </div>
        </section>
        <section class="about" id="about">
            <div class="row">
                <div class="col-lg-4">
                    <p class="section_name"><img src="section_img.png" alt=""> ABOUT</p>
                    <div class="pov">
                        <div class="stars">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">
                        </div>
                        <p>Working with Farxod was interesting. He went above and beyond what I've asking for and provided such an amazing web-page for my start-up.</p>
                        <div class="row">
                            <div class="col-3"><img style="width: 64px;" src="user.png" alt=""></div>
                            <div class="col-9">
                                <p>Yakubov Zokir</p>
                                <p>CEO @ Legal World</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h1>Trusted by the fastest growing digital startups</h1>
                    <div class="row">
                        <div class="col-6">
                            <h1>1+</h1>
                            <p>Years of experience</p>
                        </div>
                        <div class="col-6">
                            <h1>15+</h1>
                            <p>Projects completed</p>
                        </div>
                        <div class="companies ">
                            <div class="col-6"><p><img src="lw.ico" alt=""> Legal World</p></div>
                            <div class="col-6"><p><img src="itg.png" alt="">ITG</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="works" id="projects">
            <p class="section_name"><img src="section_img.png" alt=""> WORK</p>
            <h1>Bringing stellar results for every client</h1>
            <div class="overflow">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="qr.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">QR Generator</h5>
                              <p class="card-text">A very smart QR-Generator which you can use for different purposes</p>
                              <a target="_blank" href="https://qrgenerator-w1hi.onrender.com/" class="btn">Visit</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="easybank.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Easybank</h5>
                              <p class="card-text">A front-end design for bank</p>
                              <a target="_blank" href="https://quiet-biscochitos-1db0e1.netlify.app/" class="btn">Visit</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="url_api.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">URL Shortener</h5>
                              <p class="card-text">A front end design for vurtual company with working service (you can put link by pressing the button it shortens)</p>
                              <a target="_blank" href="https://link-shortener-11nn.onrender.com/" class="btn">Visit</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="planets.png" class="card-img-top" alt="..." style="margin-bottom: 6px;">
                            <div class="card-body">
                              <h5 class="card-title">Planets App</h5>
                              <p class="card-text">The Web-Page where you can find out about planets and their inner and outter structure</p>
                              <a target="_blank" href="https://magenta-salmiakki-a26269.netlify.app/" class="btn">Visit</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="github.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Github Developer Finder</h5>
                              <p class="card-text">The Web Service which made using APIs, ExpressJS, and JavaScript</p>
                              <a target="_blank" href="https://dev-finder.onrender.com/" class="btn">Visit</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="advice.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Advice Generator</h5>
                              <p class="card-text">Over 100+ advices that can motivate or will be needed in daily basis</p>
                              <a href="https://advices.onrender.com" class="btn">Visit</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <p class="section_name"><img src="section_img_white.png" alt=""> SERVICES</p>
            <div class="row">
                <div class="col-lg-4">
                    <h1>Pushing the boundaries of your potential</h1>
                </div>
                <div class="col-lg-4">
                    <img src="bulseye.png" alt="">
                    <h3>Branding</h3>
                    <p>Refresh your logo, revamp your website, and even your letterhead— develop a cohesive aesthetic for your brand.</p>
                </div>
                <div class="col-lg-4">
                    <img src="bulb.png" alt="">
                    <h3>Packaging</h3>
                    <p>Rethink labels, boxes, signage, and everything that'll help your product make a great first impression.</p>
                </div>
                <div class="col-lg-4 second_row_services">
                    <img src="memorilibia.png" alt="">
                    <h3>Memorabilia</h3>
                    <p>Choose from easy, affordable options for merch like custom tees and sets of pins.</p>
                </div>
                <div class="col-lg-4 second_row_services">
                    <img src="visual.png" alt="">
                    <h3>Visual Aids</h3>
                    <p>Make your point more convincingly with branded flyers, slides, catalogues, infographics.</p>
                </div>
                <div class="col-lg-4 second_row_services">
                    
                </div>
            </div>
        </section>
        <section class="testimonials">
            <h1 class="starter">Hear it directly from my clients.</h1>
            <div class="row">
                <div class="col-lg-6 first">
                    <div class="stars">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                    </div>
                    <h1>Highly Proffesional</h1>
                    <p>Farxod was in control throughout the project. They delivered on the promised deadlines and we love the work they did!</p>
                    <div class="row">
                        <div class="col-2"><img class="img-fluid" style="width: 64px;" src="user.png" alt=""></div>
                        <div class="col-10">
                            <p>Yakubov Zokir</p>
                            <p>CEO @ Legal World</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="stars">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                        <img class="img-fluid" src="star.png" alt="">
                    </div>
                    <h1>Creative and fearless</h1>
                    <p>Working with Farxod was interesting. He went above and beyond what I've asking for and provided such an amazing web-page for my start-up.</p>
                    <div class="row">
                        <div class="col-2"><img class="img-fluid" style="width: 64px;" src="user.png" alt=""></div>
                        <div class="col-10">
                            <p>Aziz</p>
                            <p>CEO @ ITG-Group</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="process" id="stradegy">
            <p class="section_name"><img src="section_img.png" alt=""> Process</p>
            <div class="row">
                <div class="col-6">
                    <h1>Getting started is easy.</h1>
                </div>
                <div class="col-6">
                    <p>I've developed a structure that saves time (and money) while making the most of our interactions.</p>
                </div>
            </div>
            <div class="row process_number">
                <div class="col-lg-4">
                    <img src="process.png" alt="">
                    <h1>[1]</h1>
                    <h3>Listen</h3>
                    <p>I get to know you and your company, your goals and expectations.</p>
                </div>
                <div class="col-lg-4">
                    <img src="process.png" alt="">
                    <h1>[2]</h1>
                    <h3>Ideate</h3>
                    <p>I create a couple of pitches based on the project brief and goals.</p>
                </div>
                <div class="col-lg-4">
                    <h1>[3]</h1>
                    <h3>Execute</h3>
                    <p>I work on the approved plan while keeping you in the loop until we have a finished project.</p>
                </div>
            </div>
        </section>
        <footer id="contacts">
            <div class="row">
                <h1>Have Something in mind let`s conect!</h1>
                <div class="col-lg-4">
                    <a href="mailto:rav.farxod@gmail.com">rav.farxod@gmail.com</a>
                </div>
                <div class="col-lg-4">
                    <a href="#projects">Work</a> <br>
                    <a href="#about">About</a> <br>
                    <a href="#contacts">Contact</a>
                </div>
                <div class="col-lg-4">
                    <a target="_blank" href="https://www.instagram.com/farxod.js">Instagram</a> <br>
                    <a target="_blank" href="https://t.me/f1rxod">Telegram</a> <br>
                    <a target="_blank" href="https://www.github.com/f1rxod">Github</a>
                </div>
            </div>
            <hr>
            <h6>Made by R.Farxod 	&#10084;</h6>
        </footer>
    </section>
    <script src="behaviour.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>